# Node.js dependencies
/node_modules

# Vercel & Next.js build outputs
/.next/
/.vercel/
/out/

# Local environment variables (IMPORTANT FOR SECURITY)
.env
.env.local
.env.*.local
!.env.example
api keys rendereelstudio.txt

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
/env
/venv
/.venv
__pycache__/
*.pyc

# AI Models & Large Media
*.safetensors
*.ckpt
*.pt
*.mp4
*.mov
*.avi
/Kling_Downloads/

# IDE & OS specific
.DS_Store
.vscode/
.vercel
